#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.product {
    margin: 0px 0px 30px 0px;
    padding: 10px 10px 1px 10px;
    background-color: #3a3a3a;
    border-radius: 50px;
}

.price {
    color:aquamarine;
}

.id{
    color:#8a8a8a;
    font-size: 10px;
}